.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

h1 {
  color: #003d8f;
}

h2 {
  color: #11c7e6;
}

img {
  box-shadow: 10px 10px 15px silver;
}


